span{
    color: rgb(187, 187, 187);
    font-weight: 100;
    margin-bottom: 30px;
    font-size: 12px;
    letter-spacing: 3px;
}

h2{
    margin: 25px 0 20px 0;
    color: white;
    line-height: 50px;
    font-size: 36px;
    font-weight: 500;
    width: 65%;
}

p{
    color: rgb(150, 150, 150);
    font-size: 14px;
    width: 90%;

    line-height: 24px;
    margin-bottom: 50px;
}

